#menu-bar p{
    font-family: fantasy;
    font-size: 30px;
}
#menu-bar a{
    text-decoration: none;
    color: white;
    background-color: red;
}
#menu-bar a:hover{
    background-color: darkred;
}
img{
    width: 100%;
}
body{
    background-image: url('images/wallpaper.jpg');
    background-size: cover;
}
p{
    color: white;
    font-family: cursive;
}
a{
    text-decoration: none;
    color: red;
}
h2{
    color: skyblue;
    font-family: fantasy;
}
.gallery{
    width: 95;
}
.container {
  position: relative;
    width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: steelblue;
}
.container:hover .overlay{
  opacity: 0.7;
}
.text {
  color: white;
  font-size: 75px;
    font-family: fantasy;
  position: absolute;
  top: 50%;
  left: 50%;
    -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
